<div class="container">
    <div id="navbar-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-navbar row" id="navigation">
            <div class="col-3 m-0 order-1">
                <a class="navbar-brand m-0" href="{f:uri.page(pageUid: '1')}">Doster</a>
            </div>

            <button class="navbar-toggler order-lg-2 order-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse col-6 order-lg-2 order-4" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{f:uri.page(pageUid: '2')}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{f:uri.page(pageUid: '3')}">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{f:uri.page(pageUid: '4')}">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{f:uri.page(pageUid: '5')}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-3 text-end order-lg-3 order-2 d-none d-lg-flex justify-content-end">
                <p class="location">Germany</p> <span>,  07 Oct 23</span>
            </div>

        </nav>
    </div>
</div>